@model ContacViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Gelen Kutusu</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Gelen Kutusunda Ara">
                            <div class="input-group-append">
                                <div class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body p-0">
                    <div class="mailbox-controls">
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fa fa-sync-alt"></i>
                        </button>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Önemi </th>
                                    <th> Gönderen Adı </th>
                                    <th> Konu </th>
                                    <th> Gönderme Tarihi </th>
                                    <th> Okundu </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ResultContacts)
                                {
                                    var theMessage = string.Join(" ", item.Message.Split(' ').Take(10));
                                    var msgShort = theMessage + (item.Message.Split(' ').Length > 10 ? "..." : "");

                                    if (item.Isread == false)
                                    {
                                        <tr class="table-light">
                                            <td>
                                                <div class="icheck-primary">
                                                    <input type="checkbox" value="" id="check2">
                                                    <label for="check2"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-warning"></i></a></td>
                                            <td class="mailbox-name"><a href="/Admin/Inbox/MailDetail/@item.Id"> @item.Name @item.Surname</a></td>
                                            <td class="mailbox-subject">
                                                <b>@item.Subject</b> - @msgShort
                                            </td>
                                            <td class="mailbox-date">@item.SendDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td class="mailbox-button">
                                                <form method="post">
                                                    <input type="hidden" asp-for="UpdateContact.Id" value="@item.Id" />
                                                    <input type="hidden" asp-for="UpdateContact.Name" value="@item.Name" />
                                                    <input type="hidden" asp-for="UpdateContact.Surname" value="@item.Surname" />
                                                    <input type="hidden" asp-for="UpdateContact.Email" value="@item.Email" />
                                                    <input type="hidden" asp-for="UpdateContact.Subject" value="@item.Subject" />
                                                    <input type="hidden" asp-for="UpdateContact.Message" value="@item.Message" />
                                                    <input type="hidden" asp-for="UpdateContact.Isread" value="true" />
                                                    <input type="hidden" asp-for="UpdateContact.SendDate" value="@item.SendDate" />

                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa-solid fa-square-check fa-2xl">
                                                        </i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    <input type="checkbox" value="" id="check2">
                                                    <label for="check2"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-warning"></i></a></td>
                                            <td class="mailbox-name"><a href="/Admin/Inbox/MailDetail/@item.Id"> @item.Name @item.Surname</a></td>
                                            <td class="mailbox-subject">
                                                <b>@item.Subject</b> - @msgShort
                                            </td>
                                            <td class="mailbox-date">@item.SendDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td class="mailbox-button">
                                                <form method="post">
                                                    <input type="hidden" asp-for="UpdateContact.Id" value="@item.Id" />
                                                    <input type="hidden" asp-for="UpdateContact.Name" value="@item.Name" />
                                                    <input type="hidden" asp-for="UpdateContact.Surname" value="@item.Surname" />
                                                    <input type="hidden" asp-for="UpdateContact.Email" value="@item.Email" />
                                                    <input type="hidden" asp-for="UpdateContact.Subject" value="@item.Subject" />
                                                    <input type="hidden" asp-for="UpdateContact.Message" value="@item.Message" />
                                                    <input type="hidden" asp-for="UpdateContact.Isread" value="true" />
                                                    <input type="hidden" asp-for="UpdateContact.SendDate" value="@item.SendDate" />

                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa-solid fa-square-check fa-2xl">
                                                        </i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <div class="mailbox-controls">
                        <div class="row mt-2">
                            <div class="col-10 col-xl-9 col-lg-8 col-sm-6 pl-3">
                                <p class="">
                                    Toplam Mail Sayısı: 7
                                </p>
                            </div>
                            <div class="col-2 col-xl-3 col-lg-4 col-sm-">
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                    <i class="fa fa-square"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fa fa-reply"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fa fa-share"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>