@model ResultContactDto

@{
    ViewData["Title"] = "MailDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="text-dark">Mail Detayı</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item"><a href="#">Gelen Kutusu</a></li>
                        <li class="breadcrumb-item active">Mail</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title text-dark">@Model.Name @Model.Surname</h3>
                        </div>
                        <div class="card-body p-3">
                            <div class="mailbox-read-info">
                                <div class="h5 text-dark">
                                    Konu: <span class="fw-normal">@Model.Subject</span>
                                </div>
                                <div class="h6 text-dark">
                                    Kimden: <span class="fw-normal">@Model.Name @Model.Surname <<a href="#">@Model.Email</a>></span>
                                    <span class="mailbox-read-time float-right text-dark">@Model.SendDate.ToShortDateString() <br /> @Model.SendDate.ToLongTimeString()</span>
                                </div>
                            </div><br /><br />
                            <div class="mailbox-read-message">
                                @* <p>Merhaba admin,</p> *@

                                <p>
                                    @Model.Message
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-reply"></i> Cevapla</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-share"></i> İlet</button>
                            </div>
                            <button type="button" class="btn btn-default"><i class="fa fa-trash-alt"></i> Sil</button>
                            <button type="button" class="btn btn-default"><i class="fa fa-print"></i> Yazdır</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
