
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- Page Title -->
<div class="page-title-area">
    <img src="/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Hemen Rezervasyon Yap</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Rezervasyon</li>
            </ul>
        </div>
    </div>
</div>

<section class="contact-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-sm-8 col-lg-8">
                <div class="contact-item contact-right">
                    <form class="contactForm" method="post" action="@Url.Action("Index", "Reservation")">
                        @await Component.InvokeAsync("_ReservationServicesComponentPartial")
                        <h3>Müşteri Bilgileri</h3>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="ReservationPerson.Name" id="name" class="form-control" required data-error="Bu alan boş bırakılamaz." placeholder="İsminiz" value="@Model.ReservationPerson.Name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="ReservationPerson.Surname" id="surname" class="form-control" required data-error="Bu alan boş bırakılamaz." placeholder="Soy isminiz" value="@Model.ReservationPerson.Surname">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="ReservationPerson.IdentityNumber" id="identity_number" required data-error="Bu alan boş bırakılamaz." class="form-control" placeholder="Kimlik Numaranız" value="@Model.ReservationPerson.IdentityNumber">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>


                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="email" name="ReservationPerson.Email" id="email" class="form-control" required data-error="Bu alan boş bırakılamaz." placeholder="Mail Adresiniz" value="@Model.ReservationPerson.Email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="ReservationPerson.Phone" id="phone_number" required data-error="Bu alan boş bırakılamaz." class="form-control" placeholder="Telefon Numaranız" value="@Model.ReservationPerson.Phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="ReservationPerson.PhoneOpt" id="phone_number_2" required data-error="Bu alan boş bırakılamaz." class="form-control" placeholder="İkincil Telefon Numaranız" value="@Model.ReservationPerson.PhoneOpt">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <h3>Araç Bilgileri</h3>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example" name="ReservationCar.ModelID">
                                        <option selected>Marka Seçiniz</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example" name="ReservationCar.ModelID">
                                        <option selected>Model Seçiniz</option>
                                        <option value="1">One 1</option>
                                        <option value="2">Two 2</option>
                                        <option value="3">Three 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example" name="ReservationCar.Year">
                                        <option selected>Yıl Seçiniz</option>
                                        <option value="2024">2024</option>
                                        <option value="2023">2023</option>
                                        <option value="2022">2022</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4">
                                <div class="form-group">
                                    <input type="number" name="ReservationCar.Km" id="car_km" required data-error="Bu alan boş bırakılamaz." class="form-control" placeholder="Km" value="@Model.ReservationCar.Km">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4">
                                <div class="form-group">
                                    <input type="text" name="ReservationCar.LicensePlate" id="car_plate" class="form-control" required data-error="Bu alan boş bırakılamaz." placeholder="Plaka" value="@Model.ReservationCar.LicensePlate">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <h3>Randevu Bilgileri</h3>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example" name="ReservationService.City">
                                        <option selected>İl Seçiniz</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example" name="ReservationService.Distinct">
                                        <option selected>İlçe Seçiniz</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Randevu Tarihi</label>
                                    <input type="text" class="form-control" name="ReservationService.Date" id="rez_date" placeholder="Tarih" value="@Model.ReservationService.Date.ToString("dd/MM/yyyy")">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Randevu Saati</label>
                                    <input type="text" class="form-control" name="ReservationService.Hour" id="rez_time" placeholder="Saat" value="@Model.ReservationService.Date.ToLongTimeString()">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <textarea name="ReservationService.Description" class="form-control" id="message" cols="30" rows="8" placeholder="Açıklama" value="@Model.ReservationService.Description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <button type="submit" class="contact-btn btn">
                                    Gönder
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</section>

