@model ServiceViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="page-title-area">
    <img src="assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>@Model.ResultService.Title</h2>
            <ul>
                <li>
                    <a href="/">Anasayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>
                    <a href="/Service/Index/">Servis</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Detay</li>
            </ul>
        </div>
    </div>
</div>

<div class="service-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="service-details-item">
                    <div class="service-details-img">
                        <div class="service-details-slider owl-theme owl-carousel">
                            @foreach(var item in Model.ResultServiceDescription)
                            {
                                <div class="service-details-slider-item">
                                    <img src="@item.ImgUrl" alt="Service">
                                </div>
                            }
                        </div>
                        <h3>@Model.ResultService.Title</h3>
                        <h5>@Model.ResultService.Description</h5>
                        @foreach(var item in Model.ResultServiceDescription)
                        {
                            <p>@item.Description</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-details-item">

                    @await Component.InvokeAsync("_ServiceDetailListsComponentPartial")

                    @await Component.InvokeAsync("_ServiceDetailAddressComponentPartial")
                    
                </div>
            </div>
        </div>
    </div>
</div>
